.h1-0 {
	fill:#FFFFFF;
}

.h1-1 {
	fill:#97C0E6;
}

.h1-2 {
	fill:#4A5BA8;
}

.h1-3 {
	fill:#EBB5D4;
}

.bm0 {
	fill:#D74C9B;
}

.bm1 {
	fill:#E0EAF7;
}

.bm2 {
	fill:#ECF0F9;
}

.bm3 {
	fill:#8EBBE4;
}

.bm4 {
	fill:#4094D1;
}

.lt1-0 {
	fill:#BEE3DB;
}

.lt1-1 {
	fill:#00A88A;
}

.lt1-2 {
	fill:#FFFFFF;
}

.lt2-0 {
	fill:#BEE3DB;
}

.lt2-1 {
	fill:#00A88A;
}

.lt2-2 {
	fill:#FFFFFF;
}

.lt3-0 {
	fill:none;
}

.lt3-1 {
	fill:#BEE3DB;
}

.lt3-2 {
	fill:#FFFFFF;
} 

.lt3-3 {
	fill:#00A88A;
}

.lt4-0 {
	fill:#BEE3DB;
}

.lt4-1 {
	fill:#00A88A;
}

.lt4-2 {
	fill:#FFFFFF;
}

.lt5-0 {
	fill:#BEE3DB;
}

.lt5-1 {
	fill:#00A88A;
}

.lt5-2 {
	fill:#FFFFFF;
}

.lt5-3 {
	fill:none;
	stroke:#00A88A;
	stroke-width:0;
	stroke-linecap:round;
	stroke-linejoin:round;
}

.lt6-0 {
	fill:none;
}

.lt6-1 {
	fill:#BEE3DB;
}

.lt6-2 {
	fill:#00A88A;
}

.lt6-3 {
	fill:#FFFFFF;
}

.rt1-0 {
	fill:none;
}

.rt1-1 {
	fill:#DDCFE6;
}

.rt1-2 {
	fill:#9863A9;
}

.rt1-3 {
	fill:#FFFFFF;
}

.rt2-0 {
	fill:#DDCFE6;
}

.rt2-1 {
	fill:#9863A9;
}

.rt2-2 {
	fill:#FFFFFF;
}

.rt3-0 {
	fill:none;
}

.rt3-1 {
	fill:#DDCFE6;
}

.rt3-2 {
	fill:#9863A9;
}

.rt3-3 {
	fill:#FFFFFF;
}

.rt4-0 {
	fill:#DDCFE6;
}

.rt4-1 {
	fill:#9863A9;
}

.rt4-2 {
	fill:#FFFFFF;
}

.rt5-0 {
	fill:#DDCFE6;
}

.rt5-1 {
	fill:#9863A9;
}

.rt5-2 {
	fill:#FFFFFF;
}

.rt6-0 {
	fill:#DDCFE6;
}

.rt6-1 {
	fill:#9863A9;
}

.rt6-2 {
	fill:#FFFFFF;
}

.rt6-3 {
	fill:#FFFFFF;
	stroke:#9863A9;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:10;
}
